main {
	fieldset {
		form {
			div {
				text-align: center;
			}
		}
	}
}
.textoDeinicio {
	font-size: 1rem;
	line-height: 2;
	color: $color_2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(pink), to(white));
	background-image: linear-gradient(pink, white);
	margin-bottom: 20px;
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
}
.card {
	display: inline-block;
	opacity: 50%;
	width: 400px;
	text-align: center;
	padding: 5px;
	margin: 2px auto;
	background-color: $background-color_1;
	color: $color_4;
	&:hover {
		opacity: 1;
		-webkit-transition: 1s;
		transition: 1s;
	}
}
.container-fluid {
	font-size: 2rem;
}
.cartas {
	.card {
		display: inline-block;
	}
}
.carousel-inner {
	width: auto;
	height: 700px;
}
article {
	div {
		p {
			font-size: 1rem;
			line-height: 2;
			color: $color_2;
			background-image: -webkit-gradient(linear, left top, left bottom, from(pink), to(white));
			background-image: linear-gradient(pink, white);
			margin-bottom: 20px;
			margin-left: 30px;
			margin-right: 30px;
			text-align: center;
		}
	}
}
.navDeProductos {
	section {
		ul {
			-webkit-text-decoration: solid white;
			text-decoration: solid white;
		}
	}
}
.formulario {
	margin: 20px 30px 30px 30px;
}
.card2 {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	opacity: 60%;
	&:hover {
		opacity: 1;
	}
}
.dondecomprar {
	margin: 50px;
	padding: 50px;
}