*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    text-align: center;   
}
div .contenedor{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(4 auto);
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "article section section"
    "footer footer footer";
}
.contenedor> div,
.contenedor .header,
.contenedor .nav,
.contenedor .article,
.contenedor .section,
.contenedor .footer{
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}
.contenedor .header{
    grid-area: header;
}
.contenedor .nav{
    grid-area: nav;
}
.contenedor .article{
    grid-area: article;
}
.contenedor .section{
    grid-area: section;
    display: flex;
}
.contenedor .footer{
    grid-area: footer;
    background-color: #12203e;
}
@media screen and (max-width:625px){
    .contenedor{
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "section section section"
        "article article article"
        "footer footer footer";
    }
}
div .contenedor{
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(4 auto);
    grid-template-areas:
    "header2 header2 header2"
    "Menu Menu Menu Menu"
    "section section"
    "section section"
    "fotos1 fotos1 fotos1"
    "footer footer";
}
.contenedor .header2{
    grid-area: header2;
    display: flex;
    justify-content: flex-start;
}
.contenedor .Menu{
    grid-area: Menu;
}
.contenedor .section{
    grid-area: links;
}
.contenedor .fotos1{
    grid-area: fotos1;
}
.contenedor .footer{
    grid-area: footer;
}
@media screen and (max-width:625px){
    .contenedor{
        grid-template-areas: 
        "header2 header2"
        "Menu Menu"
        "section section"
        "fotos1 fotos1 fotos1"
        "footer footer footer";
    }
}
.Menu{
    display: inline-block;
    margin: 10px;
}
.imagenDeInicio{
    width: 100px;
}
.carousel-inner
.carousel-item{
    height: 600px;

}
ul li{
    display: inline-block;
    margin: 5px;
    padding: 30px;
    font-size: 1.5rem;
}
.Menu:hover{
    transition: 1s;
    color: #664ecf; 
}
.nav-link{
    color: black;
    margin: 30px; 
}
.nav-link:hover{
    color: #4c2dd3;
    transition: 1s;
}
main fieldset form div{
    text-align: center;
}
.navDeProductos section ul{
    text-decoration: solid white;
}
.textoDeinicio{
    font-size: 1rem;
    line-height: 2;
    color: black;
    background-image: linear-gradient(pink, white);
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}
footer{
    font-size: 2em; 
    background-color: #12203e;  
}
.formulario{
    margin: 20px 30px 30px 30px;
}
.logo{
    width: 50px;
    height: 50px;
    margin-top: 30px;
}
.card2{
    display: inline-flex;
    opacity: 60%;
}
.card2:hover{
    opacity: 1;
}
.card{
    display: inline-block;
    opacity: 50%;
}
.card:hover{
    opacity: 1;
    transition: 1s;
}
.container-fluid{
    font-size: 2rem;
}
.cartas .card{
    display: inline-block;
}
.dondecomprar{
    margin: 50px;
    padding: 50px;
}
.btn{
    background-color: #12203e;
    border: none;
}
