@import url(./_variables.scss);
@import url(./_cuerpo.scss);
@import url(./_footer.scss);
@import url(./_resposive.scss);
.card {
  @extend %card;
  background-color: #12203e; 
}
  .navDeProductos section ul {
    text-decoration: solid white;
  }
  .formulario {
    margin: 20px 30px 30px 30px;
  }
  
  .card2 {
    display: inline-flex;
    opacity: 60%;
  
    &:hover {
      opacity: 1;
    }
  }
  
  .dondecomprar {
    margin: 50px;
    padding: 50px;
  }
  
  .btn {
    background-color: #12203e;
    border: none;
  }
  .lupa{
    height: 40px;
    width: 40px;
}
